* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

main {
  width: 100%;
}

form {
  width: 100%;
}

body {
  background-color: rgb(247, 171, 105);
  width: 100%;
}

header {
  padding: 5px 6%;
  top: 0;
  position: sticky;
  z-index: 3;
  background-color: red;
}
/* Section */

section {
  padding: 28px 6%;
}

/*== Titulos e paragrafos da página ==*/

h3 {
  font-size: 2.3rem;
  margin: 0;
}

h2 {
  font-size: 2.3rem;
  margin: 0;
  margin-top: 9%;
}
/* Navegação */

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 10%;
  height: 30%;
}

#nav_list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav-item a {
  text-decoration: none;
  color: #1d1d1dad;
  font-weight: 600;
}

.nav-item.active a {
  color: #1d1d1dad;
}

#mobile_btn {
  display: none;
}

#mobile_menu {
  display: none;
}

/* Historia / apresentações */

#home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 28px;
}

#cta .title {
  font-size: 3rem;
  color: #1d1d1d;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20%;
  padding-top: 20px;
  gap: 20px;
  text-align: center;
}

.apresentacao h2 {
  margin: 0;
}

.apresentacao h3 {
  font-size: 2rem;
}

.apresentacao p {
  font-size: 1.2rem;
}

#titulo_apresentacao {
  margin: 20px 20px 20px 0px;
  width: 100%;
}

.apresentacoes {
  display: block;
  background-color: #a69a81;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  border-radius: 10px;
}

/* Produtos */

#prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#prod-title {
  color: #1d1d1d;
  font-size: 2.5rem;
}

#galeria-produtos {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
  flex-wrap: wrap;
}

.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  gap: 18px;
  width: 25%;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  position: relative;
}

.descricao {
  color: #47a386;
  text-align: center;
  font-size: 1.3rem;
}

.preco {
  font-size: 1.7rem;
}

/*== Lojas ==*/

#vis h4 {
  font-size: 1.5rem;
}

#vis h3 {
  width: 100%;
  text-align: center;
}

#vis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(50vh - 120px);
}

.lojas {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
  flex-wrap: wrap;
}

.item-visite {
  background-color: #a69a81;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  gap: 15px;
  justify-content: space-evenly;
}

.lojas img {
  border-radius: 10px;
}

#loja2 {
  width: 51%;
}

#loja1 {
  width: 41%;
}

#loja3 {
  width: 50%;
}

/* Mensagem */

#men {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.men-title {
  text-align: center;
}

.mensagem {
  display: flex;
  width: 100%;
  gap: 50px;
  flex-direction: row;
  margin-top: 32px;
  justify-content: space-between;
  align-items: center;
}

.quadro_animado {
  width: 420px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: muda_imagem;
}

.texto_animado {
  width: 50%;
  height: 100%;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-name: troca_cor;
  font-size: 2.5rem;
}

.texto_animado a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

/* Formulario */

.span-required {
  color: red;
  font-size: 15px;
  align-items: center;
  display: none;
  width: 100%;
}

#fcon {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fcon-title {
  margin-bottom: 1rem;
  text-align: center;
}

form div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}

label {
  cursor: default;
}

label,
.botao,
select {
  background-color: #a69a81;
}

select {
  font-size: 1.2rem;
  width: 100%;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  border-style: none;
  text-align: center;
}

label,
#qtd,
#cpf,
.botao,
input {
  display: inline-block;
  font-size: 1.2rem;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  width: 100%;
  border-style: none;
}

#mensagem {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* Footer */

footer {
  margin-top: 32px;
  background-color: #706f6b;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: #1d1d1d;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 10px;
  text-align: center;
}

.col-a {
  padding-top: 32px;
  padding-bottom: 30px;
  margin-left: 15px;
  gap: 15px;
  justify-content: left;
  flex-direction: column;
  display: flex;
  width: 35%;
}

.col-a p {
  font-size: 0.8rem;
}

.col-a img {
  width: 10%;
  align-items: center;
}

.col-a img {
  width: 5%;
}

.col-a p {
  font-size: 1.3rem;
}

.col-b {
  padding-top: 32px;
  padding-bottom: 30px;
  margin-right: 100px;
}

.col-b ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* botao aviso */

#close {
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  width: 30%;
  background-color: #47a386;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
#open {
  cursor: pointer;
  font-size: 3rem;
  width: 30%;
  background-color: #47a386;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 10px 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  background-color: #edeef6;
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
  z-index: 4;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  font-size: 1rem;
  opacity: 0.7;
}

/* keyframes */

@keyframes muda_imagem {
  0% {
    background-image: url("imagens/livros_ind01.png");
  }
  20% {
    background-image: url("imagens/livros_ind02.jpg");
  }
  40% {
    background-image: url("imagens/livros_ind03.jpg");
  }
  60% {
    background-image: url("imagens/livros_ind04.jpg");
  }
  80% {
    background-image: url("imagens/livros_ind05.jpg");
  }
  100% {
    background-image: url("imagens/livros_ind01.png");
  }
}

@keyframes troca_cor {
  0% {
    background-color: rgb(112, 189, 142);
    color: rgb(31, 117, 67);
  }

  25% {
    background-color: rgb(56, 255, 238);
    color: rgb(4, 139, 139);
  }

  50% {
    background-color: deepskyblue;
    color: darkblue;
  }

  75% {
    background-color: rgb(223, 245, 126);
    color: rgb(66, 128, 64);
  }

  100% {
    background-color: rgb(167, 215, 245);
    color: rgb(133, 133, 250);
  }
}
/* responsividade */

@media (max-width: 768px) {
  /* Historia */
  #missao,
  #valores {
    border-top: 1px solid #706f6b;
  }
}

@media (min-width: 768px) {
  /*== inicio historia ==*/

  .missao {
    padding: 40px 20px 40px 20px;
  }

  #hist {
    display: flex;
    width: 100%;
    padding: 10px 10px 10px;
  }

  #missao,
  #valores {
    border-left: 1px solid #706f6b;
  }

  .apresentacao {
    padding: 20px 10px 20px;
    width: 100%;
  }
}

@media screen and (max-width: 1170px) {
  /* Formulario */

  .fcon-title {
    text-align: center;
  }

  form {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  label {
    cursor: default;
    text-align: left;
  }

  label,
  .botao,
  select {
    background-color: #a69a81;
  }

  input {
    text-align: center;
  }

  label,
  #qtd,
  #cpf,
  .botao,
  input,
  select {
    font-size: 1.2rem;
    border-radius: 4px;
    width: 100%;
    border-style: none;
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
  }

  #mensagem {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  /* Mensagem */

  .mensagem {
    display: flex;
    flex-direction: column;
  }

  .quadro_animado {
    width: 80%;
    background-position: center;
  }

  .texto_animado {
    width: 80%;
    text-align: center;
  }

  /* Logo */
  .logo {
    width: 30%;
    height: 30%;
  }

  /* Titulo */
  h2 {
    margin-top: 57%;
  }

  /* mensagem */

  /*== Lojas ==*/

  #loja1,
  #loja2,
  #loja3 {
    width: 80%;
  }

  /* produtos */

  #galeria-produtos {
    width: 80%;
  }

  .galeria {
    width: 43%;
  }

  .image-prod {
    width: 100%;
  }

  #nav_list {
    display: none;
  }

  #mobile_btn {
    display: flex;
    border: none;
    justify-content: right;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
  }

  #mobile_menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
  }

  #mobile_nav_list .nav-item {
    list-style: none;
  }
}

@media screen and (max-width: 1055px) {
  .galeria {
    width: 100%;
  }
}

@media screen and (max-width: 941px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  .col-a svg {
    display: flex;
    align-items: center;
  }
  .col-a a {
    margin-left: 15px;
  }

  .col-a,
  .col-b,
  button {
    width: 100%;
    margin: 0;
  }

  .col-b {
    align-items: center;
  }

  .col-b ul {
    align-items: center;
    justify-content: space-around;
  }

  .col-b svg {
    width: 100%;
  }

  #open,
  .col-a p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 611px) {
  h2 {
    margin-top: 75%;
  }
}
